

.mail-sidebar{
    width: 20vw;

}

.mail-list{

    width: 80vw;
}

 .mail-preview {
    background-color: rgba(128, 128, 128, 0.103);
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.read {
    color: gray;
}