

.mail-sidebar{
    flex-direction: column;
    width: 20vw;
}

.mail-list{
    flex-direction: column;
    width: 80vw;
}

 .mail-preview {
    background-color: rgba(128, 128, 128, 0.103);
    /* flex-direction: column; */
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
