/* Global */
a{
    text-decoration: none;
    color: black;
}
/* Helpers */
html{
    font-family: Roboto;
}

.flex {
    display: flex;
} 

.column{
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Apps Header */

.app-header {
    background: rgb(255, 164, 164);
}

.app-header .main-logo {
    color: black;
    margin-left: 1.875rem;
}

.main-navbar {
    margin-right: 1.875rem;
}

.main-navbar {
    margin-right: 1.875rem;
}

.main-navbar  {
    margin-right: 1.875rem;
}
.main-navbar a{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

}
.main-navbar a:visited  {
    margin-right: 1.875rem;
    color: black;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form input {
    padding: 5px;
    margin: 10px;
}

textarea {
    width: 200px;
    height: 400px;
}

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    background: lightgrey;
    left: 0;
    font-weight: bold;
}