/* Helpers */
html{
    font-family: Roboto;
}

.mail-preview {
    background-color: rgba(128, 128, 128, 0.103);
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Apps Header */

.app-header {
    background: rgb(255, 164, 164);
}

.app-header .main-logo {
    color: black;
    margin-left: 1.875rem;
}

.main-navbar {
    margin-right: 1.875rem;
}

.main-navbar {
    margin-right: 1.875rem;
}

.main-navbar  {
    margin-right: 1.875rem;
}
.main-navbar a{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

}
.main-navbar a:visited  {
    margin-right: 1.875rem;
    color: black;
    font-weight: bold;
}


/* Footer */
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    background: lightgrey;
    left: 0;
    font-weight: bold;
}