.note-preview{
    border: 1px solid black;
    margin: 1rem;
    width: 200px;
    text-align: center;
}

.note-preview.background-color{
 background: yellow;

}

.note-preview img {
    width: 100px;
    height: 100px;
}

.note-preview .todo-done{
    text-decoration: line-through;
}